# Dependency directories
node_modules/
jspm_packages/

# Next.js build output
.next/
out/
dist/
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db

/assets/

# Environment variables
.env
.env.local
.env.*.local
